/*--modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize--*/
*,::after,::before{box-sizing:border-box}
html{-moz-tab-size:4;tab-size:4}
html{line-height:1.15;}
html, body, main, section, div, blockquote {margin:0; padding:0;}
body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}
hr{height:0;color:inherit}
abbr[title]{text-decoration:underline dotted}
b,strong{font-weight:bolder}
code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
table{text-indent:0;border-color:inherit}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,select{text-transform:none}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
::-moz-focus-inner{border-style:none;padding:0}
:-moz-focusring{outline:1px dotted ButtonText}
:-moz-ui-invalid{box-shadow:none}
legend{padding:0}progress{vertical-align:baseline}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
summary{display:list-item}
/*--Document Styles --*/
main {
  background: linear-gradient(to bottom, #FF8235, #30E8BF);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  background: rgba(0,0,0, 0.2);
  border: 3px solid rgba(0,0,0,0.3);
  color: #FAFAFA;
  max-width: 50%;
  font-size: 3rem;
  font-family: serif;
  line-height: 1.334;
  padding: 4rem 4rem 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -2rem;
  min-height: 550px;
}
@media screen and (max-width: 768px) {
  section {
    max-width: 98%;
  }
}
blockquote::before {
  content: '\201C';
  font-family: serif;
  font-size: 5rem;
  font-weight: 900;
  position: absolute;
  text-indent: -3rem;
  margin-top: -2.5rem;
  opacity:.5;
}
cite {
  align-self: flex-end;
  font-size: 2rem;
}
cite::before {
  content:'\2014';
}
button {
  font-size: 1.2rem;
  font-family: sans-serif;
  padding: .7rem 0 .5rem 0;
  text-transform: uppercase;
  font-weight: 800;
  width: 40%;
  margin: 2rem auto 0 auto;
  cursor: pointer;
  border-radius: 50px;
  transition: all .2s ease-in-out;
  color: #FAFAFA;
  background-color: rgba(0,0,0,0.5);
  border-color: transparent;
}
#die {
  font-size: 1.6rem;
  display: inline-block;
}
button:hover {
  background-color: rgba(0,0,0,0.7);
}
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-3px, -3px, 0);
  }
  40%, 60% {
    transform: translate3d(3px, 3px, 0);
  }
}
.shakes {
  animation: shakes 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shakes {
  10%, 90% {
    transform: translate3d(1px, 1px, 0);
  }
  20%, 80% {
    transform: translate3d(-2px, -2px, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(3px, 3px, 0);
  }
  40%, 60% {
    transform: translate3d(-3px, -3px, 0);
  }
}
button:active {
  background-color: rgba(0,0,0,1);
}
.one {
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}
.two {
  background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);
}
.three {
  background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
}
.four {
  background: linear-gradient(to bottom, #b92b27, #1565c0);
}
.five {
  background: linear-gradient(to top, #373b44, #4286f4);
}
.six {
  background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
}
.seven {
  background: linear-gradient(to top, #ff0099, #493240);
}
.eight {
  background: linear-gradient(to top, #8e2de2, #4a00e0);
}
.nine {
  background: linear-gradient(to top, #1f4037, #99f2c8);
}
.ten {
  background: linear-gradient(to top, #59c173, #a17fe0, #5d26c1);
}
